.page{
	
	background-repeat: repeat-y;
	background-size: 
	font-size: 13px;
	font-family: 'Lato', sans-serif;
	color: #444444;
}
img{max-width: 100%; height: auto; display:block; }

.menu{
	padding-top: 30px;
}
.navbar-brand{
	padding:0;
}
.heading{
	padding:0;
}
.navbar-default{
	background-color: transparent;
	border:0;
}
.navbar-default .navbar-right li a{
	text-transform: uppercase;
	padding: 10px 20px;
	margin-right: 10px;
}
.navbar-default .navbar-right li a:hover{
	background: #1bbc9b;
	color: #fff;
	transition: .5s;
}
.mainpic .container-fluid{
	padding: 0;
}
.jumbotron{
	background-image: url(../img/mainpicture.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 0 !important;
	border:0;
	color: #fff;
	min-height: 453px;
}
.jumbotron h1{
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	margin-top: 4%;
}
.jumbotron p{
	font-size: 13px;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
}
.jumbotron .bold700{
	font-family: 'Lato', sans-serif;
	font-weight: 700;
}
.jumbotron .fa{
	margin-top: 25px;
	font-size: 3.5em;
}
.btn{
	text-transform: uppercase;
	font-size: 12px;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	background:#1bbc9b;
	color:#ffffff;
	border: 0;
	border-radius: 0;
	margin-top: 20px;
	padding: 10px 20px;
}
.btn:hover{
	color:#fff;
	background: #21d5b0;
	transition: .5s;
}
.btn:focus{
	color:#fff;
	background: #21d5b0;
	box-shadow: none;
	transition: .5s;
}
.portfolio .btn{
	margin-right: 15px;
}
.pic:hover{
	opacity: 0.3;
}
.main .pic{
	padding: 10px;
	display: block;
}
.main .grid{
	margin-top: 45px;
	margin-bottom: 50px;
}
.grid img{
	display: block;
	margin:0 auto;
}
.about{
	background-color: #16a086;
	color: #fff;
	padding-top: 20px;
}
.about .row{
	margin-top: 45px;
}
.about img{
	display: block;
	margin:0 auto;
}
.about p{
	padding: 0 20%;
	line-height: 20px;
	color: #000;
}
.contact{
	background-color: #ecf0f1;
	padding-top: 30px;
	padding-bottom: 50px;
}
.form-group{

}
textarea{
	width:100%;
}
.contact h2{
	margin-top: 0;
}
.form-group{
	margin-right: 35px;
}
.contact .data{
	margin-left: 30px;
}
.contact .message{
	margin:15px 10px 0 30px;
	width: 90%;
}
.contact .adress{
	text-align: left;
	padding:0;
}
.contact .adresstop{
	margin-top: 20px;
}
.contact i{
	margin-right: 10px;
}
.contact .upper{
	text-transform: uppercase;
}
.contact .btn{
	padding: 8px 30px;
	float:right;
}
footer{
	background-color: #2d3e50;
	color: #fff;
	padding: 35px 0 25px 40px;
}